{{! filepath: c:\Projects - Nurdine\mozticket\mozticket_back\mozticket_core\src\templates\promoter-approved.hbs }}

<html lang='pt'>
  <head>
    <meta charset='UTF-8' />
    <title>Conta de Promotor Aprovada</title>
  </head>
  <body>
    <p>Olá{{#if name}}, {{name}}{{/if}},</p>
    <p>Sua conta de promotor da empresa
      <b>{{company}}</b>
      foi
      <b>aprovada</b>! Agora você pode criar e gerenciar eventos.</p>
    <p>Bem-vindo à equipe MozTicket!</p>
  </body>
</html>