{{! filepath: c:\Projects - Nurdine\mozticket\mozticket_back\mozticket_core\src\templates\account-blocked.hbs }}

<html lang='pt'>
  <head>
    <meta charset='UTF-8' />
    <title>Conta Bloqueada</title>
  </head>
  <body>
    <p>Olá{{#if name}}, {{name}}{{/if}},</p>
    <p>Sua conta foi
      <b>bloqueada</b>
      por nossa equipe. Entre em contato com o suporte para mais informações.</p>
    <p>Atenciosamente,<br />Equipe MozTicket</p>
  </body>
</html>