{{! filepath: c:\Projects - Nurdine\mozticket\mozticket_back\mozticket_core\src\templates\account-unblocked.hbs }}

<html lang='pt'>
  <head>
    <meta charset='UTF-8' />
    <title>Conta Desbloqueada</title>
  </head>
  <body>
    <p>Olá{{#if name}}, {{name}}{{/if}},</p>
    <p>Sua conta foi
      <b>desbloqueada</b>
      e você já pode voltar a utilizar o sistema normalmente.</p>
    <p>Atenciosamente,<br />Equipe MozTicket</p>
  </body>
</html>